* {
  padding: 0%;
  margin: 0%;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 2px 4px #10b0c8;
  position: relative;
  background-color: #212124;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 1.5rem;
}

#title {
  font-size: 1.3rem;
}

#title h1 {
  text-decoration: none;
  color: #10b0c8;
  -webkit-text-stroke: 2px #d3df54;
}

#title a {
  text-decoration: none;
}

#nav {
  align-items: center;
  display: flex;
}

#nav span {
  padding: 1rem;
}

#nav-species {
  position: relative;
  color: grey;
  font-weight: bold;
  font-size: 1.1rem;
}

#nav-species ul {
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.1s;
  background-color: #212124;
  z-index: 1;
  margin-top: 1rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

#nav-species ul li {
  padding: 0.5rem;
  text-align: center;
}

#nav-species:hover ul {
  max-height: 400px;
} 

#nav ul li {
  float: left;
  list-style: none;
}

#nav ul li a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 1rem;
}

#nav ul li a:hover {
  color: #7dcd36;
}

#sign button {
  color: #212124;
  font-size: 0.9rem;
  background-color: #13c1d8;
  font-weight: bold;
  border: none;
  padding: 0.2rem;
  margin: 0.3rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
}

#sign button:hover {
  background-color: #212124;
  color: #7dcd36;
  border: 1px solid #13c1d8;
}


/* Main */

#main {
  background-image: url(/public/img/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 2rem;
}

#productsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
  position: relative;
  top: 1rem;
}

#productsContainer div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #13c1d8;
}

#productsContainer img {
  border: 1px solid #212124;
  border-radius: 1rem 1rem 0rem 0rem;
}

#infoProduct {
  width: 250px;
  background-color: #212124;
  border-radius: 0rem 0rem 1rem 1rem;
  border: 1px solid #13c1d8;
}

#infoProduct h5 {
  margin-top: 1rem;
  color: grey;
}

#infoProduct button {
  color: #212124;
  font-size: 0.9rem;
  background-color: #13c1d8;
  font-weight: bold;
  border: none;
  padding: 0.2rem;
  margin: 0.3rem;
  border-radius: 0.4rem;
  border: 1px solid #13c1d8;
}

#infoProduct button:hover {
  background-color: #212124;
  color: #7dcd36;
}

#productCounter {
  color: #13c1d8;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  padding: 0.6rem 0.75rem 0.6rem 0.75rem;
  color: #212124;
  background-color: #13c1d8;
  border: 1px solid #13c1d8;
}

#counter button:hover {
  background-color: #212124;
  color: #7dcd36;
}

#amount {
  font-weight: bold;
  border: 1px solid #13c1d8;
  margin: 0rem 0.75rem 0rem 0.75rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
}

#stockAvailable {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  color: grey;
}

#addCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addCart button {
  font-size: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  color: #212124;
  background-color: #13c1d8;
  border: 1px solid #13c1d8;
  font-weight: bold;
}

#addCart button:hover {
  background-color:#212124;
  color: #7dcd36;
}

#detailContainer{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#detail {
  display: flex;
} 

#detail img{
  border-radius: 1rem 0rem 0rem 1rem;
  border: 1px solid #212124;
}

#detailInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 1px solid #13c1d8;
  background-color: #212124;
  padding: 1rem 2rem 1rem 2rem;
}

#detailInfo h2 {
  margin-bottom: 2rem;
  color: #13c1d8;
  box-shadow: 0 2px #7dcd36;
}
#detailInfo h4 {
  color: #13c1d8;
}

#detailInfo ul {
  padding: 1rem 1rem 2rem 1rem;
  color:#13c1d8;
}

#detailInfo span {
  color: grey
}

#loading{
    display: flex;
    justify-content: center;
    position: relative;
    top: 3rem;
    height: 100vh;
}



/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: #212124;
  box-shadow: 1px -2px 4px #10b0c8;
  position: relative;
  color: #13c1d8;
}
