*{
    padding: 0%;
    margin: 0%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 2px 4px #10B0C8;
    position: relative;
    background-color: #212124;
}

#tittle {
    color: #10B0C8;
    display: flex;
    font-size: 1.3rem;
    -webkit-text-stroke: 2px #D3DF54;
}

#nav {
    align-items: center;
    display: flex;
}

#nav ul {
    list-style: none;
    display: inline-block;
}

#nav ul li{
    float: left;
}

#nav ul li a {
    color: grey;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
}

#nav ul li a:hover {
    color: #7DCD36
}

#nav-sign button {
    color: #212124;
    font-size: 0.9rem;
    background-color: #13C1D8; 
    font-weight: bold;
    border: none;
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
}

#nav-sign button:hover {
    background-color: #212124;
    color: #7DCD36;
    border: 1px solid #13C1D8;
}


/* Main */

#welcome {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

main {
    background-image: url(./img/background.png);
    height: 100vh;
    
}